.header label.label {
    margin-bottom: 5px;
}

label.label {
    display: block;
    margin-bottom: 20px;
}

.column-heading {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
    text-align: center;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 20px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 20px;
}

.characteristics {
    text-align: center;
    flex-grow: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.skills-basic,
.combat-weapons {
    flex-grow: 0;
    flex-basis: 33%;
}

.skills-advanced,
.combat-other {
    flex-grow: 1;
    flex-basis: 33%;
}

.show-on-hover {
    visibility: hidden;
}

.show-on-hover-container:hover .show-on-hover {
    visibility: visible;
}

.characteristic-container {
    margin-bottom: 10px;
}

.characteristic-label {
    text-transform: uppercase;
    font-weight: bold;
}

.characteristic-value-container {
    width: 33%;
    font-size: 30px;
}

.characteristic-bonus {
    font-weight: bold;
}

.characteristic-remainder,
.characteristic-value {
    color: #555;
}

.grid-skills {
    display: grid;
    grid-template-columns: [left] 35px [name] auto [characteristic] 60px [bonus] 60px [end];
}

.skill-name {
    grid-column: name/characteristic;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

.skill-characteristic {
    grid-column: characteristic/bonus;
    text-align: right;
    margin-right: 10px;
}

.skill-level {
    grid-column: bonus/end;
}

.skill-buttons {
    grid-column: left/name;
}

.gear-table th {
    text-align: left;
}

.gear-unequipped {
    color: #666;
}

.gear-equipped {
    font-weight: bold;
}

.hit-locations {
    position: relative;
}

.hit-location {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: white;
}

.hit-location-head {
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.hit-location-body {
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

.hit-location-left-arm {
    right: 20px;
    top: 50%;
}

.hit-location-right-arm {
    left: 20px;
    top: 50%;
}

.hit-location-left-leg {
    right: 20px;
    bottom: 20px;
}

.hit-location-right-leg {
    left: 20px;
    bottom: 20px;
}

.checkbox-array {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-array > * {
    width: 50%;
}

.weapon-block:hover {
    background-color: rgba(234, 234, 136, 0.5);
}

.talents {
    margin: 0 20px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
}