<div class="mb-2">Attacks with {{ attack.weapon.name }}</div>

{{#each attack.targetModifiers }}
    <div style="margin-left: 20px;">
        {{ this.label }} {{ this.value }}
    </div>
{{/each}}
<hr />
Target: {{ attack.target }}
<hr />
{{{ attack.rollDataHtml }}}