<div>
    {{> systems/dark-heresy-1e/template/chat/partials/attack-summary.hbs}}

    <div class="mt-3" style="color: green;">
        <strong>Hit {{ attack.hitCount }} times!</strong>
    </div>

    {{> systems/dark-heresy-1e/template/chat/partials/attack-notices.hbs}}
</div>