<div>
    {{> systems/dark-heresy-1e/template/chat/partials/attack-summary.hbs}}

    <div class="mt-3">
        <strong>Missed!</strong>
    </div>

    {{> systems/dark-heresy-1e/template/chat/partials/attack-notices.hbs}}
</div>