<div>
    {{> systems/dark-heresy-1e/template/chat/partials/attack-summary.hbs}}

    <div class="mt-3" style="color: red;">
        <strong>Weapon overheated!</strong>
    </div>

    {{> systems/dark-heresy-1e/template/chat/partials/attack-notices.hbs}}
</div>