<div>
    <div class="mb-2">Attacks with {{ attack.weapon.name }}</div>

    <div class="mt-3" style="color: green;">
        <strong>Template weapon, hits automatically!</strong>
    </div>

    {{> systems/dark-heresy-1e/template/chat/partials/attack-notices.hbs}}
</div>