<div>
    <div style="margin-bottom: 20px;">
        Rolling {{ attack.damageFormula }} damage.
    </div>
    {{#each hits}}
        <div>
            {{{ this.damageHtml }}}
            <div class="mt-2">
                Deals <strong>{{ this.damage }} {{ ../attack.weapon.model.damageTypeLabel }}</strong> damage to the <strong>{{ this.location.name }}</strong> with {{ ../attack.penetration }} armour penetration.
            </div>

            {{#if ../attack.damage.critModifier }}
                <div class="mt-2">
                    Critical damage is increased by {{ ../attack.damage.critModifier }}.
                </div>
            {{/if}}

            {{#if this.righteousFuryChange }}
                {{{ this.righteousFuryConfirmHtml }}}
            {{/if}}

            {{#if this.righteousSuccess }}
                <div style="margin-left: 20px;">
                    The power of the emperor flows through you as you smite your foe with righteous fury (+{{ this.righteousDamage }} damage).
                </div>
                {{{ this.righteousFuryDamageHtml }}}
            {{else}}
                {{#if this.righteousFuryChance}}
                    <div style="margin-left: 20px;">
                        <em>There was a chance of some righteous fury, but the emperor was not smiling on you today.</em>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    {{/each}}

    {{#each attack.damageNotices}}
        <div class="mt-3">
            {{ this.text }}
        </div>
    {{/each}}
</div>