<div>
    {{ actor.name }} ejects the clip from their {{ weapon.name }}.
    <div>
        {{#if weapon.model.currentAmmoLevel }}
            Spent clip had {{ weapon.model.currentAmmoLevel }} rounds left.
        {{/if}}
    </div>
</div>
