<div>
    <strong>{{ attack.actor.name }}</strong> parries with their <strong>{{ attack.weapon.name }}</strong>.
    <div style="padding: 0 20px;" class="mt-3">
        {{#each attack.rollModifiers }}
            <div>
                <strong>{{ this.label }}</strong>: {{ this.value }}
            </div>
        {{/each}}
        <hr />
        <strong>Target</strong>: {{ attack.target }}
    </div>

    <div class="mt-3">
        {{{ attack.rollHtml }}}
    </div>

    <div class="mt-3">
        {{#if attack.success }}
            <div style="color: green">
                Parried with {{ attack.degrees }} degrees of success ({{ attack.margin }} margin)!
            </div>
        {{else}}
            <div style="color: red">
                Failed to parry!
            </div>
        {{/if}}
    </div>

    {{#each attack.notices }}
        <div class="mt-3">
            {{ this.text }}
        </div>
    {{/each}}
</div>