<div>
    {{ actor.name }} attempts to invoke {{ power.name }} ({{ power.system.threshold }})
    {{{ rollHtml }}}

    {{#if success }}
        <div style="color: green; font-weight: bold; ">
            Success, with a margin of {{ margin }}
        </div>
        {{#if hasOverbleed }}
            <div>
                {{ overbleed }} levels of overbleed.
            </div>
        {{/if}}
    {{else}}
        <div>
            Failed!
        </div>
    {{/if}}

    {{#each phenomena}}
        <div class="mt-3">
            <strong>Psychic Phenomena</strong>
            <div style="padding-left: 10px;">
                <div>{{{ this.rollHtml }}}</div>
                <div><strong>{{ this.title }}</strong></div>
                {{ this.text }}
                {{#if this.isPerils }}
                    <div style="padding-left: 10px;">
                        <div>{{{ this.perilRollHtml }}}</div>
                        <div><strong>{{ this.perilTitle }}</strong></div>
                        {{ this.perilText }}
                    </div>
                {{/if}}
            </div>
        </div>
    {{/each}}
</div>