<div>
    {{ actor.name }} reloads their {{ weapon.name }}, it will take {{ weapon.model.reloadText }}.
    <div>
        {{#if weapon.model.currentAmmoLevel }}
            Spent clip had {{ weapon.model.currentAmmoLevel }} rounds left.
        {{/if}}
    </div>
</div>
