<div>
    <div>Rolling <strong>{{ config.pool }}</strong></div>
    <hr/>

    {{#each config.components}}
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ this.label }}</strong>: {{ this.value }}
        </div>
    {{/each}}
    <hr />
    <div>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Target:</strong> {{ result.target }}</div>
    <hr />
    <div><strong>Result:</strong>{{ result.result }}</div>
    {{#if result.isSuccess }}
        <div style="font-weight: bold; color: green;"><strong>Success:</strong>{{ result.degree }}</div>
    {{ else }}
        <div style="font-weight: bold; color: red;"><strong>Failure:</strong>{{ result.degree }}</div>
    {{/if}}
    <hr />
    <div>Location: {{ result.locationName }} ({{ result.location }})</div>
    {{{ rollHtml }}}
</div>