<div>
    {{ actor.name }} takes {{ amount }} ({{ type }}) damage to the {{ location.name }}.
</div>

{{#unless ignoreArmour }}
    <br>
    <div>
        Armour soaks {{ unpenetratedArmour }} damage.
    </div>
{{/unless}}

{{#unless ignoreToughness }}
    <br>
    <div>
        Toughness soaks {{ actor.characteristics.T.bonus }} damage.
    </div>
{{/unless}}

<br>
<div>
    <div>
        <strong>{{ criticalDamage }} CRIT!</strong>
    </div>
    {{ actor.name }} takes {{ damageTaken }} damage, resulting in {{ actualCrit }}{{ type }} critical damage (including {{ extraCrit }} extra) to the {{ location.name }}.
</div>

<hr>

<div>
    {{ crit }}
</div>