<div>
    {{ actor.name }} takes {{ amount }} ({{ type }}) damage to the {{ location.name }}.
</div>

{{#unless ignoreArmour }}
    <br>
    <div>
        Armour soaks {{ unpenetratedArmour }} damage.
    </div>
{{/unless}}

{{#unless ignoreToughness }}
    <br>
    <div>
        Toughness soaks {{ actor.characteristics.T.bonus }} damage.
    </div>
{{/unless}}

<br>
<div>
    {{ actor.name }} takes {{ damageTaken }} damage to the {{ location.name }}.
</div>