<form class="{{cssClass}}" autocomplete="off">
    <div class="actor-sheet acolyte-sheet">

        <div class="header border">
            <div style="display: flex">

                <div class="avatar">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="max-width: 200px;"/>
                </div>
                <div style="flex-grow: 1; margin-left: 10px;">
                    <div>
                        <div class="name header-row">
                            <label class="label">
                                Name:
                                <input type="text" name="name" value="{{ actor.name }}" />
                            </label>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div class="damage header-row" style="flex-grow: 1">
                            <label class="label">
                                Damage:
                                <input type="text" name="system.damage" value="{{ actor.system.damage }}" />
                            </label>
                        </div>

                        <div class="header-row wounds" style="margin-right: 10px;">
                            <label class="label">
                                <span style="display: block">
                                    Wounds:
                                </span>
                                <div style="display: flex;">
                                    <input style="width: 3.6em;" type="text" name="system.wounds.base" value="{{ actor.system.wounds.base }}" />
                                    <div style="min-width: 2.6em; line-height: 2em;">+ {{ actor.woundsModifier }}</div>
                                    <div style="flex-grow: 1; font-weight: bold; line-height: 2em; min-width: 2em;">= {{ actor.totalWounds }}</div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div style="display: flex;">
                        <div style="flex-grow: 1; display: flex;">
                            <div class="fate-points header-row" style="width: 50%;">
                                <label class="label">
                                    Fate points:
                                    <input type="text" name="system.fate.max" value="{{ actor.system.fate.max }}" />
                                </label>
                            </div>

                            <div class="header-row fate-pool" style="width: 50%;">
                                <label class="label">
                                    Fate pool:
                                    <input type="text" name="system.fate.current" value="{{ actor.system.fate.current }}" />
                                </label>
                            </div>
                        </div>

                        <div class="header-row psy-rating-pool" style="margin-right: 10px;">
                            <label class="label">
                                Psy rating:
                                <div style="display: flex;">
                                    <input style="width: 3.6em;" type="text" name="system.psy_rating.base" value="{{ actor.system.psy_rating.base }}" />
                                    <div style="min-width: 2.6em; line-height: 2em;">+ {{ actor.psyRatingModifier }}</div>
                                    <div style="flex-grow: 1; min-width: 2em; font-weight: bold; line-height: 2em;">= {{ actor.totalPsyRating }}</div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="header-row">
                        <label class="label">
                            Fatigue:
                            <input type="number" style="width: 3em" name="system.fatigue.current" value="{{ actor.system.fatigue.current }}" />
                            <span style="line-height: 2em;"> / {{ actor.system.fatigue.max }}</span>
                        </label>
                    </div>
                </div>

                <div>
                    <label class="label">
                        Insanity:
                        <input type="text" name="system.insanity" value="{{ actor.system.insanity }}" />
                    </label>
                    <label class="label">
                        Corruption:
                        <input type="text" name="system.corruption" value="{{ actor.system.corruption }}" />
                    </label>
                    <div style="display: flex;">
                        <label class="label">
                            <div>
                                XP Spent:
                            </div>

                            <input type="number" name="system.xp.spent" value="{{ actor.system.xp.spent }}" />
                        </label>
                        <label class="label">
                            <div>
                                XP Earnt:
                            </div>
                            <input type="number" name="system.xp.earnt" value="{{ actor.system.xp.earnt }}" />
                        </label>
                        <div>
                            Unspent:
                            <div style="line-height: 2em;">
                               {{ actor.availableXp }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sheet-tabs tabs flex row mb-3 mt-3" data-group="primary">
            <b class="item" data-tab="stats">Skills</b>
            <b class="item" data-tab="talents">Talents</b>
            <b class="item" data-tab="combat">Combat</b>
            <b class="item" data-tab="gear">Gear</b>
            <b class="item" data-tab="description">Description</b>
            {{#if isGM }}
                <b class="item" data-tab="debug">Debug</b>
            {{/if}}
        </div>

        <div class="sheet-body">
            <div class="tab" data-group="primary" data-tab="stats">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/stats.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="talents">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/talents.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="combat">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/combat.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="gear">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/gear.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="description">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/description.hbs}}
            </div>
            <div class="tab" data-group="primary" data-tab="debug">
                {{> systems/dark-heresy-1e/template/sheet/actor/tabs/debug.hbs}}
            </div>
        </div>
    </div>
</form>
