{{#if isEmbedded}}
    <label class="label">
        Equipped: <input type="checkbox" name="system.is_equipped" {{checked item.system.is_equipped}} />
    </label>
{{/if}}

<div>
    <label class="label">
        Description:
        <textarea name="system.description">{{ item.system.description }}</textarea>
    </label>
</div>