{{> systems/dark-heresy-1e/template/sheet/item/partials/gear-shared.hbs}}

<div>
    <label class="label">
        Class:
        <input type="text" name="system.class" value="{{ item.system.class }}" />
    </label>
</div>

<div>
    <label class="label">
        Characteristic:
        <select name="system.characteristic">
            <option value=""></option>
            {{#select item.system.characteristic}}
                {{#each characteristics}}
                    <option value="{{ @key }}">{{ this }}</option>
                {{/each}}
            {{/select}}
        </select>
    </label>
</div>


<div>
    <label class="label">
        Talent:
        {{#if isEmbedded}}
            <input type="text" name="system.talent" value="{{ item.system.talent }}" />
        {{else}}
            <select name="system.talent">
                <option value=""></option>
                {{#select item.system.talent}}
                    {{#each talents}}
                        <option value="{{ this }}">{{ this }}</option>
                    {{/each}}
                {{/select}}
            </select>
        {{/if}}
    </label>
</div>

<div>
    <label class="label">
        Range (meters):
        <input type="number" name="system.range" value="{{ item.system.range }}" />
    </label>
</div>

<div>
    <label class="label">
        Damage:
        <input type="text" name="system.damage" value="{{ item.system.damage }}" />
    </label>
</div>

<div>
    <label class="label">
        Type:
        <select name="system.type">
            {{#select item.system.type}}
                <option value="E">Energy (E)</option>
                <option value="X">Explosive (X)</option>
                <option value="R">Rending (R)</option>
                <option value="I">Impact (I)</option>
            {{/select}}
        </select>
    </label>
</div>

<div>
    <label class="label">
        Penetration:
        <input type="number" name="system.penetration" value="{{ item.system.penetration }}" />
    </label>
</div>

<div>
    <label class="label">
        Blast:
        <input type="number" name="system.blast" value="{{ item.system.blast }}" />
    </label>
</div>

<div>
    <div class="label">
        Special:
        <div style="display: flex; flex-wrap: wrap">
            <label><input type="checkbox" name="system.keywords.accurate" {{checked item.system.keywords.accurate}} /> Accurate</label>
            <label><input type="checkbox" name="system.keywords.balanced" {{checked item.system.keywords.balanced}} /> Balanced</label>
            <label><input type="checkbox" name="system.keywords.defensive" {{checked item.system.keywords.defensive}} /> Defensive</label>
            <label><input type="checkbox" name="system.keywords.flame" {{checked item.system.keywords.flame}} /> Flame</label>
            <label><input type="checkbox" name="system.keywords.flexible" {{checked item.system.keywords.flexible}} /> Flexible</label>
            <label><input type="checkbox" name="system.keywords.inaccurate" {{checked item.system.keywords.inaccurate}} /> Inaccurate</label>
            <label><input type="checkbox" name="system.keywords.overheats" {{checked item.system.keywords.overheats}} /> Overheats</label>
            <label><input type="checkbox" name="system.keywords.power_field" {{checked item.system.keywords.power_field}} /> Power Field</label>
            <label><input type="checkbox" name="system.keywords.primitive" {{checked item.system.keywords.primitive}} /> Primitive</label>
            <label><input type="checkbox" name="system.keywords.recharge" {{checked item.system.keywords.recharge}} /> Recharge</label>
            <label><input type="checkbox" name="system.keywords.reliable" {{checked item.system.keywords.reliable}} /> Reliable</label>
            <label><input type="checkbox" name="system.keywords.scatter" {{checked item.system.keywords.scatter}} /> Scatter</label>
            <label><input type="checkbox" name="system.keywords.shocking" {{checked item.system.keywords.shocking}} /> Shocking</label>
            <label><input type="checkbox" name="system.keywords.smoke" {{checked item.system.keywords.smoke}} /> Smoke</label>
            <label><input type="checkbox" name="system.keywords.snare" {{checked item.system.keywords.snare}} /> Snare</label>
            <label><input type="checkbox" name="system.keywords.tearing" {{checked item.system.keywords.tearing}} /> Tearing</label>
            <label><input type="checkbox" name="system.keywords.toxic" {{checked item.system.keywords.toxic}} /> Toxic</label>
            <label><input type="checkbox" name="system.keywords.unbalanced" {{checked item.system.keywords.unbalanced}} /> Unbalanced</label>
            <label><input type="checkbox" name="system.keywords.unreliable" {{checked item.system.keywords.unreliable}} /> Unreliable</label>
            <label><input type="checkbox" name="system.keywords.unstable" {{checked item.system.keywords.unstable}} /> Unstable</label>
            <label><input type="checkbox" name="system.keywords.unwieldy" {{checked item.system.keywords.unwieldy}} /> Unwieldy</label>
        </div>
    </div>
</div>