<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet talent-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            <input type="text" name="name" value="{{ item.name }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        {{> systems/dark-heresy-1e/template/sheet/item/partials/gear-shared.hbs}}

        <div>
            <label class="label">
                Head:
                <input type="number" name="system.head" value="{{ item.system.head }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Body:
                <input type="number" name="system.body" value="{{ item.system.body }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Left Arm:
                <input type="number" name="system.left_arm" value="{{ item.system.left_arm }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Right Arm:
                <input type="number" name="system.right_arm" value="{{ item.system.right_arm }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Left Leg:
                <input type="number" name="system.left_leg" value="{{ item.system.left_leg }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Right Leg:
                <input type="number" name="system.right_leg" value="{{ item.system.right_leg }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Modifiers:
                <textarea name="system.modifiers">{{ item.system.modifiers }}</textarea>
            </label>
        </div>
        
    </div>
</form>
