<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet characteristic-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            {{#if isGM }}
                                <input type="text" name="name" value="{{ item.name }}" />
                            {{else }}
                                {{ item.name }}
                            {{/if}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div>
            {{#if isGM }}
                <label class="label">
                    Abbreviation:
                    <input type="text" name="system.abbreviation" value="{{ item.system.abbreviation }}" {{#if isEmbedded}}disabled{{/if}} />
                </label>

                <label class="label">
                    Has Bonus:
                    <input type="checkbox" name="system.has_bonus" {{#if item.system.has_bonus}}checked{{/if}} />
                </label>

                <label class="label">
                    Position:
                    <input type="number" name="system.position" value="{{ item.system.position }}" />
                </label>
            {{/if}}

            {{#if isEmbedded}}
                <label class="label">
                    Base:
                    <input type="number" name="system.base" value="{{ item.system.base }}" />
                </label>
            {{/if}}
        </div>
    </div>
</form>
