<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet talent-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            <input type="text" name="name" value="{{ item.name }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        {{> systems/dark-heresy-1e/template/sheet/item/partials/weapons-shared.hbs}}

        <div>
            <label class="label">
                Modifiers:
                <textarea name="system.modifiers">{{ item.system.modifiers }}</textarea>
            </label>
        </div>
    </div>
</form>
