<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet psychic-power-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            <input type="text" name="name" value="{{ item.name }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label class="label">
                Threshold:
                <input type="number" name="system.threshold" value="{{ item.system.threshold }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Overbleed Margin:
                <input type="number" name="system.overbleed" value="{{ item.system.overbleed }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Type:
                <select name="system.type">
                    {{#select item.system.type}}
                        <option value="minor">Minor</option>
                        <option value="discipline">Discipline</option>
                    {{/select}}
                </select>
            </label>
        </div>

        <div>
            <label class="label">
                Description:
                <textarea name="system.description">{{ item.system.description }}</textarea>
            </label>
        </div>
    </div>
</form>
