<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet talent-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            <input type="text" name="name" value="{{ item.name }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        {{> systems/dark-heresy-1e/template/sheet/item/partials/weapons-shared.hbs}}

        <div>
            <label class="label">
                Rate of Fire:
                <input type="text" name="system.rate_of_fire" value="{{ item.system.rate_of_fire }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Clip size:
                <input type="number" name="system.clip" value="{{ item.system.clip }}" />
            </label>
        </div>

        {{#if isGM }}
            <div>
                <label class="label">
                    Current clip:
                    <input type="number" name="system.current_ammo" value="{{ item.system.current_ammo }}" />
                </label>
            </div>
        {{/if}}

        <div>
            <label class="label">
                Reload:
                <input type="text" name="system.reload" value="{{ item.system.reload }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Modifiers:
                <textarea name="system.modifiers">{{ item.system.modifiers }}</textarea>
            </label>
        </div>
    </div>
</form>
