<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet skill-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label class="label">
                            Name:
                            <input type="text" name="system.name" value="{{ item.system.name }}" />
                        </label>
                        <label class="label">
                            Subtype:
                            <input type="text" name="system.subtype" value="{{ item.system.subtype }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label class="label">
                Characteristic:
                <select class="form-control" name="system.characteristic">
                    {{#select item.system.characteristic}}
                        {{#each characteristics}}
                            <option value="{{ @key }}">{{ @this }}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>

            <label class="label">
                Basic Skill:
                <input type="checkbox" name="system.is_basic" {{#if item.system.is_basic}}checked{{/if}} />
            </label>

            {{#if isEmbedded}}
                <label class="label">
                    Level:
                    <select class="form-control" name="system.level">
                        {{#select item.system.level}}
                            <option value="0">Untrained</option>
                            <option value="1">Trained</option>
                            <option value="2">+10</option>
                            <option value="3">+20</option>
                        {{/select}}
                    </select>
                </label>
            {{/if}}
        </div>
    </div>
</form>
