<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet talent-sheet">

        <div class="header border">
            <div style="display: flex">
                <div style="flex-grow: 1">
                    <div class="name header-row">
                        <label>
                            Name:
                            <input type="text" name="system.name" value="{{ item.system.name }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label class="label">
                Subtype:
                <input type="text" name="system.subtype" value="{{ item.system.subtype }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Level:
                <input type="text" name="system.level" value="{{ item.system.level }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Roll:
                <input type="text" name="system.roll" value="{{ item.system.roll }}" />
            </label>
        </div>

        <div>
            <label class="label">
                Modifiers:
                <textarea name="system.modifiers">{{ item.system.modifiers }}</textarea>
            </label>
        </div>

        <div>
            <label class="label">
                Description:
                <textarea name="system.description">{{ item.system.description }}</textarea>
            </label>
        </div>
    </div>
</form>
