<label class="label">
    Action:
    <select name="action">
        {{#each actions}}
            <option value="{{ this.id }}" {{#if this.disabled }}disabled{{/if}}>{{ this.name }}</option>
        {{/each}}
    </select>
</label>

<label class="label">
    Difficulty:
    <input type="number" name="difficulty" value="0" />
</label>

<div class="label">
    Modifiers:
    <div style="display: flex; flex-wrap: wrap;">
        {{#each modifiers }}
            <div style="width: 50%; margin-bottom: 10px;">
                <strong>{{ @key }}</strong>
                <div class="checkbox-array">
                    {{#with (lookup this 0)}}
                        {{#if this.isExclusive}}
                            <label>
                                <input data-field="modifiers" type="radio" name="{{ this.group }}" data-modifier="" /> None
                            </label>
                        {{/if}}
                    {{/with}}
                    {{#each this }}
                        <label>
                            {{#if this.isExclusive }}
                                <input data-field="modifiers" type="radio" name="{{ this.group }}" data-modifier="{{ this.id }}" /> {{ this.name }}
                            {{else}}
                                <input data-field="modifiers" type="checkbox" name="modifiers[]" data-modifier="{{ this.id }}" /> {{ this.name }}
                            {{/if}}
                        </label>
                    {{/each}}
                </div>
            </div>
        {{/each}}

        {{#if usesAmmo }}
            <div style="width: 50%">
                <strong>Ammo</strong>
                <div class="checkbox-array">
                    {{#each ammoTypes }}
                        <label>
                            <input type="radio" name="ammo" value="{{ this.id }}" /> {{ this.name }}
                        </label>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>

</div>
