<div>
    <div>
        Scored {{ attack.hitCount }} hits:
    </div>
    {{#each attack.hitLocations }}
        <div style="margin-left: 20px;">
            {{ this.location }}
        </div>
    {{/each}}
    <div>
        Damage: {{ attack.weapon.system.damage }} {{ attack.weapon.system.type }}
    </div>
</div>