<label class="label">
    Power:
    <input type="number" name="power" value="{{ psy_rating }}" />
    <div style="font-size: 10px;">
        1 - {{ psy_rating }}
    </div>
</label>

<label class="label">
    Modifier (base {{ psy_modifier }}):
    <input type="number" name="modifier" value="0" />
</label>
