<label class="label">
    Difficulty:
    <input type="number" data-field="difficulty" value="0" />
    <details>
        <summary>Difficulties:</summary>
        <div>Easy (+30)</div>
        <div>Routine (+20)</div>
        <div>Ordinary (+10)</div>
        <div>Challenging (+0)</div>
        <div>Difficult (-10)</div>
        <div>Hard (-20)</div>
        <div>Very Hard (-30)</div>
    </details>
</label>