<div style="margin-bottom: 20px;">
    Taking damage to {{ location.name }}
</div>

<div class="label">
    Armour: {{ armour }}
</div>

<div class="label">
    Toughness: {{ actor.characteristics.T.bonus }}
</div>

<div style="display: flex" class="mt-3">
    <label class="label" style="margin-right: 10px;">
        Amount:
        <input type="number" name="amount" value="0" style="width: auto" />
    </label>

    <label class="label" style="margin-right: 10px;">
        Extra Crit Damage:
        <input type="number" name="extra_crit" value="0" style="width: auto" />
    </label>


    <label class="label" style="margin-right: 10px;">
        Type:
        <select name="type">
            <option value="E">Energy (E)</option>
            <option value="X">Explosive (X)</option>
            <option value="R">Rending (R)</option>
            <option value="I">Impact (I)</option>
        </select>
    </label>

    <label class="label">
        AP:
        <input type="number" name="ap" value="0" style="width: auto" />
    </label>

    <label class="label">
        Ignore Toughness
        <input type="checkbox" name="ignore_toughness" />
    </label>

    <label class="label">
        Ignore Armour
        <input type="checkbox" name="ignore_armour" />
    </label>
</div>
