<div>
    <div class="column-heading">
        Advanced Skills
        <button
            style="width: auto"
            data-action="add-item"
            data-item-type="skill"
            data-item-defaults='{ "is_basic": false}'
            type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>
    {{#each items.advancedSkill}}
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/skill.hbs}}
    {{else}}
        <div style="padding: 0 10px;">
            <em>No advanced skills.</em>
        </div>
    {{/each}}
</div>