<div>
    <div class="column-heading">
        Armour
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="armour"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <table class="table gear-table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Body</th>
            <th>Left Arm</th>
            <th>Right Arm</th>
            <th>Left Leg</th>
            <th>Right Leg</th>
        </tr>

        {{#each items.armour}}
            <tr class="show-on-hover-container {{#if this.system.is_equipped }}gear-equipped{{else}}gear-unequipped{{/if}}">
                <td>
                    <div class="show-on-hover">
                        <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
                <td>{{ this.name }}</td>
                <td>{{ this.system.head }}</td>
                <td>{{ this.system.body }}</td>
                <td>{{ this.system.left_arm }}</td>
                <td>{{ this.system.right_arm }}</td>
                <td>{{ this.system.left_leg }}</td>
                <td>{{ this.system.right_lg }}</td>
            </tr>
        {{/each}}
    </table>
</div>