<div>
    {{#each items.characteristic}}
        <div class="show-on-hover-container characteristic-container">
            <div class="characteristic-label">
                {{ this.name }} ({{ this.system.abbreviation }})
            </div>
            <div style="display: flex">
                <div style="width: 33%">
                    <button class="show-on-hover" data-roll="items.characteristic.{{ this.system.abbreviation }}" type="button" style="width: auto">
                        <i class="fas fa-dice"></i>
                    </button>
                </div>
                <div class="characteristic-value-container">
                    {{#if this.system.has_bonus}}
                        <span class="characteristic-bonus">{{ this.bonus }}</span><span class="characteristic-remainder">{{ this.remainder }}</span>
                    {{else}}
                        <span class="characteristic-value">{{ this.model.total }}</span>
                    {{/if}}
                </div>
                <div style="width: 33%">
                    <button class="show-on-hover" data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                        <i class="fas fa-pencil"></i>
                    </button>
                </div>
            </div>
        </div>
    {{/each}}
</div>