<div>
    <div class="column-heading">
        Disorders
        <button
            style="width: auto"
            data-action="add-item"
            data-item-type="disorder"
            type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>
    {{#each items.disorder}}
        <div class="show-on-hover-container">
            <span class="show-on-hover">
                <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                    <i class="fas fa-pencil"></i>
                </button>
                <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                    <i class="fas fa-trash"></i>
                </button>
            </span>
            {{ this.displayName }}
        </div>
    {{else}}
        <div style="padding: 0 10px;">
            <em>No disorders.</em>
        </div>
    {{/each}}
</div>