<div>
    {{#each allItems}}
        <div>
            <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                edit
            </button>
            <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                delete
            </button>
            {{ this.type }}: {{ this.displayName }}
        </div>
    {{/each}}
</div>