<div>
    <div class="column-heading">
        Psychic Powers
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="psychic_power"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>
    {{#each items.psychic_power }}
        <div class="show-on-hover-container">
            <span class="show-on-hover">
                <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                    <i class="fas fa-pencil"></i>
                </button>
                <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                    <i class="fas fa-trash"></i>
                </button>
                <button data-item="{{ this.id }}" data-action="roll-item" type="button" style="width: auto">
                    <i class="fas fa-dice"></i>
                </button>
            </span>
            {{ this.displayName }}
        </div>
    {{else}}
        <div style="padding: 0 10px;">
            <em>No psychic powers.</em>
        </div>
    {{/each}}
</div>