<div class="show-on-hover-container grid-skills">
    <div class="skill-buttons show-on-hover">
        <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
            <i class="fas fa-pencil"></i>
        </button>
    </div>
    <div class="skill-name">
        <strong>{{ this.displayName }}</strong>
    </div>
    <div class="skill-characteristic">
        <em>{{ this.model.levelName }}</em>
    </div>
    <div class="skill-level">
        <button data-roll="items.skill.{{ this.displayName }}" type="button" style="width: auto">
            <i class="fas fa-dice"></i>
            <span style="color: {{ this.model.chanceColour }}">
                {{ this.totalRollValue }}
            </span>
        </button>

    </div>
</div>