<div>
    <div class="column-heading">
        Melee Weapons
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="melee_weapon"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <table class="table gear-table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Class</th>
            <th>Range</th>
            <th>Damage</th>
            <th>Pen</th>
            <th>Special</th>
        </tr>

        {{#each items.melee_weapon}}
            <tr class="show-on-hover-container {{#if this.system.is_equipped }}gear-equipped{{else}}gear-unequipped{{/if}}">
                <td>
                    <div class="show-on-hover">
                        <button data-action="attack" data-weapon="{{ this.id }}" type="button" style="width: auto">
                            <i class="fas fa-dice"></i>
                        </button>
                        <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
                <td>{{ this.name }}</td>
                <td>{{ this.system.class }}</td>
                <td>{{ this.system.range }}</td>
                <td>{{ this.system.damage }} ({{ this.system.type }})</td>
                <td>{{ this.system.penetration }}</td>
                <td>{{ this.model.keywordsList }}</td>
            </tr>
        {{/each}}
    </table>
</div>

<div>
    <div class="column-heading">
        Ranged Weapons
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="ranged_weapon"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <table class="table gear-table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Class</th>
            <th>Range</th>
            <th>Rate</th>
            <th>Damage</th>
            <th>Pen</th>
            <th>Clip</th>
            <th>Reload</th>
            <th>Special</th>
        </tr>

        {{#each items.ranged_weapon}}
            <tr class="show-on-hover-container {{#if this.system.is_equipped }}gear-equipped{{else}}gear-unequipped{{/if}}">
                <td>
                    <div class="show-on-hover">
                        <button data-action="attack" data-weapon="{{ this.id }}" type="button" style="width: auto">
                            <i class="fas fa-dice"></i>
                        </button>
                        <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                            <i class="fas fa-pencil"></i>
                        </button>
                        <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
                <td>{{ this.name }}</td>
                <td>{{ this.system.class }}</td>
                <td>{{ this.system.range }}</td>
                <td>{{ this.system.rate_of_fire }}</td>
                <td>{{ this.system.damage }} ({{ this.system.type }})</td>
                <td>{{ this.system.penetration }}</td>
                <td>
                    {{ this.system.clip }}
                    {{#if this.model.usesAmmo }}
                        ({{ this.model.currentAmmoLevel }})
                    {{/if}}
                </td>
                <td>{{ this.system.reload }}</td>
                <td>{{ this.model.keywordsList }}</td>
            </tr>
        {{/each}}
    </table>
</div>