<div class="show-on-hover-container mb-3 weapon-block">
    <div>
        <strong>{{ this.name }}</strong>
    </div>
    <div style="margin-left: 20px;">
        {{ this.system.range }}m, {{ this.system.damage }}{{ this.system.type }}, {{ this.system.rate_of_fire }}
    </div>
    <div style="margin-left: 20px;">
        {{#if this.model.usesAmmo}}
            Shots: {{ this.model.currentAmmoLevel }} / {{ this.system.clip }}
        {{/if}}
    </div>

    <div style="margin-left: 20px;" class="show-on-hover">
        {{#if this.model.usesAmmo }}
            <button data-action="reload" data-weapon="{{ this.id }}" type="button" style="width: auto">
                <i class="fas fa-refresh"></i> Reload
            </button>
            <button data-action="empty-clip" data-weapon="{{ this.id }}" type="button" style="width: auto">
                <i class="fas fa-eject"></i> Eject
            </button>
        {{/if}}
        {{#if this.model.canAttack }}
            <button data-action="attack" data-weapon="{{ this.id }}" style="width: auto" type="button" title="Attack">
                <i class="fas fa-dice"></i>
            </button>
        {{/if}}
        <button data-action="roll-damage" data-weapon="{{ this.id }}" style="width: auto" type="button" title="Roll Damage">
            <i class="fas fa-explosion"></i>
        </button>
        {{#if this.model.canParry}}
            <button data-action="parry" data-weapon="{{ this.id }}" style="width: auto" type="button" title="Parry">
                <i class="fas fa-swords"></i>
            </button>
        {{/if}}
    </div>
</div>