{{!-- <div style="display: flex; flex-wrap: wrap"> --}}
{{!--     <button data-action="roll-initiative" style="width: auto"> --}}
{{!--         <i class="fas fa-dice"></i> Initiative --}}
{{!--     </button> --}}
{{!-- </div> --}}

<div style="display: flex;">
    <div class="combat-weapons">
        {{#each items.melee_weapon}}
            {{> systems/dark-heresy-1e/template/sheet/actor/partials/weapon-for-combat.hbs}}
        {{/each}}
        {{#each items.ranged_weapon}}
            {{> systems/dark-heresy-1e/template/sheet/actor/partials/weapon-for-combat.hbs}}
        {{/each}}
    </div>

    <div class="characteristics">
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/characteristics.hbs }}
    </div>

    <div class="combat-other">
        <div class="hit-locations" style="max-width: 270px; margin: auto;">
            <img src="/systems/dark-heresy-1e/asset/human-outline.png" />
            {{#each hitLocations }}
                <div class="hit-location hit-location-{{ this.class }}">
                    <div class="hit-location-name">{{ this.name }}</div>
                    <div class="hit-location-range">
                        {{ this.min }}-{{ this.max }}
                        <span data-action="take-damage" data-location="{{ this.name }}" style="cursor: pointer; display: inline-block; margin-left: 5px;">
                            <i class="fas fa-bullseye"></i>
                        </span>
                    </div>
                    <div class="hit-location-armour">Armour: {{ this.armour }}</div>
                </div>
            {{/each}}
        </div>
    </div>

</div>