<div style="display: flex; justify-content: space-evenly">
    <div>
        <div><strong>Health:</strong></div>
        <div>Max: {{ actor.system.health.max }}</div>
        <div>Min: {{ actor.system.health.min }}</div>
        <div>Value: {{ actor.system.health.value }}</div>
    </div>

    <div>
        <div><strong>Fatigue:</strong></div>
        <div>Max: {{ actor.system.fatigue.max }}</div>
        <div>Min: {{ actor.system.fatigue.min }}</div>
        <div>Current: {{ actor.system.fatigue.current }}</div>
        <div>Value: {{ actor.system.fatigue.value }}</div>
    </div>
</div>

<div style="display: flex">
    <div>
        {{#each allItems}}
            <div>
                <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                    edit
                </button>
                <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                    delete
                </button>
                {{ this.type }}: {{ this.displayName }}
            </div>
        {{/each}}
    </div>

    <div>
        {{#each modifiers}}
            <div>
                <h2>{{ @key }}</h2>

                {{#each this}}
                    <div>
                        <strong>{{ this.source_name }}:</strong> {{ this.evaluated }}
                    </div>
                {{/each}}
            </div>
        {{/each}}
        <hr />
        {{#each actor.modifiables }}
            <div>
                {{ this }}
            </div>
        {{/each}}
    </div>

</div>
<div>
    <button
            data-action="update"
    >
        Update embedded items
    </button>
</div>