<div style="display: flex; flex-wrap: wrap">
    <label class="label" style="width: 50%">
        Home World:
        <input type="text" name="system.home_world" value="{{ actor.system.home_world }}" />
    </label>

    <label class="label" style="width: 50%">
        Career:
        <input type="text" name="system.career" value="{{ actor.system.career }}" />
    </label>

    <label class="label" style="width: 50%">
        Rank:
        <input type="text" name="system.rank" value="{{ actor.system.rank }}" />
    </label>

    <label class="label" style="width: 50%">
        Divination:
        <input type="text" name="system.divination" value="{{ actor.system.divination }}" />
    </label>

    <label class="label" style="width: 50%">
        Quirk:
        <input type="text" name="system.quirk" value="{{ actor.system.quirk }}" />
    </label>

    <label class="label" style="width: 50%">
        Gender:
        <input type="text" name="system.gender" value="{{ actor.system.gender }}" />
    </label>

    <label class="label" style="width: 50%">
        Build:
        <input type="text" name="system.build" value="{{ actor.system.build }}" />
    </label>

    <label class="label" style="width: 50%">
        Height:
        <input type="text" name="system.height" value="{{ actor.system.height }}" />
    </label>

    <label class="label" style="width: 50%">
        Weight:
        <input type="text" name="system.weight" value="{{ actor.system.weight }}" />
    </label>

    <label class="label" style="width: 50%">
        Skin:
        <input type="text" name="system.skin_colour" value="{{ actor.system.skin_colour }}" />
    </label>

    <label class="label" style="width: 50%">
        Hair:
        <input type="text" name="system.hair_colour" value="{{ actor.system.hair_colour }}" />
    </label>

    <label class="label" style="width: 50%">
        Eyes:
        <input type="text" name="system.eye_colour" value="{{ actor.system.eye_colour }}" />
    </label>

    <label class="label" style="width: 50%">
        Age:
        <input type="text" name="system.age" value="{{ actor.system.age }}" />
    </label>
</div>

<label class="label">
    Description:
    <textarea name="system.description" rows="10">{{ actor.system.description }}</textarea>
</label>

<label class="label">
    Background:
    <textarea name="system.background" rows="10">{{ actor.system.background }}</textarea>
</label>