<div style="display: flex;">
    <div class="fate-points header-row" style="width: 50%;">
        <label class="label">
            Income (per month):
            <input type="text" name="system.income" value="{{ actor.system.income }}" />
        </label>
    </div>

    <div class="header-row fate-pool" style="width: 50%;">
        <label class="label">
            Wealth:
            <input type="text" name="system.wealth" value="{{ actor.system.wealth }}" />
        </label>
    </div>
</div>

{{> systems/dark-heresy-1e/template/sheet/actor/partials/weapons.hbs }}
{{> systems/dark-heresy-1e/template/sheet/actor/partials/armour.hbs }}

<div>
    <div class="column-heading">
        Misc
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="other_gear"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div style="display: flex; flex-wrap: wrap">
        {{#each items.other_gear}}
            <div class="show-on-hover-container">
                <span class="show-on-hover">
                    <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                        <i class="fas fa-pencil"></i>
                    </button>
                    <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
                <span class="{{#if this.system.is_equipped }}gear-equipped{{else}}gear-unequipped{{/if}}">
                    {{ this.name }}
                </span>
            </div>
        {{/each}}
    </div>
</div>