<div style="display: flex;">

    <div class="skills-basic">
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/all-skills.hbs }}
    </div>

    <div class="characteristics">
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/characteristics.hbs }}
    </div>

    <div class="skills-advanced">
        {{#if isPsyker}}
            {{> systems/dark-heresy-1e/template/sheet/actor/partials/psychic-powers.hbs }}
        {{/if}}

        {{> systems/dark-heresy-1e/template/sheet/actor/partials/disorders.hbs }}
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/malignancies.hbs }}
        {{> systems/dark-heresy-1e/template/sheet/actor/partials/mutations.hbs }}
    </div>

</div>
