<div>
    <div class="column-heading">
        Talents
        <button
                style="width: auto"
                data-action="add-item"
                data-item-type="talent"
                type="button"
        >
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="talents">
        {{#each items.talent}}
            <div class="show-on-hover-container" style="border-bottom: 1px solid #222;">
                <strong>{{ this.displayName }}</strong>
                <span class="show-on-hover">
                    {{#if this.model.hasRoll}}
                        <button data-roll="{{ this.system.roll }}" data-action="roll" type="button" style="width: auto">
                            <i class="fas fa-dice"></i>
                        </button>
                    {{/if}}
                    <button data-item="{{ this.id }}" data-action="edit" type="button" style="width: auto">
                        <i class="fas fa-pencil"></i>
                    </button>
                    <button data-item="{{ this.id }}" data-action="delete" type="button" style="width: auto">
                        <i class="fas fa-trash"></i>
                    </button>
                </span>

                <p>
                    {{nl2br this.model.expandedDescription }}
                </p>
            </div>
        {{else}}
            <div style="padding: 0 10px;">
                <em>No talents.</em>
            </div>
        {{/each}}
    </div>
</div>